<h4>Notes</h4>
<div id="new-note"></div>
<div id="notes-list">
  {{#each this}}
    <p><strong>{{#noteDate this}}{{/noteDate}}</strong></p>
    <p class="notes-p-tags">{{content}}</p><br>
  {{/each}}
</div>
