<form id="new-note-form" action="/users/{{user_id}}/notes" method="post">
  <input type="hidden" name="lick_id" value="{{id}}">
  <input type="hidden" name="user_id" value="{{user_id}}">
  <textarea name="content" rows="8" cols="80"></textarea>
  <input type="submit" value="Add note">
</form>
