<h1>Welcome to PracticeBuddy!</h1>

<%= render 'layouts/messages' %>

<h4>Remembering every musical phrase you have learned in the past can be darn near impossible.<br>
  Let PracticeBuddy help you keep track of your "bag of licks," so you can focus on keeping them
  fresh and becoming the best player you can be.</h4>
