<h2>My Backing Tracks</h2>

<%= button_to "Add a new backing track", new_user_lick_path(@user), method: 'get' %><br>

<%= button_to "My Backing Tracks", user_backing_tracks_path(@user), method: 'get' %>
