<% if !object.nil? && object.errors.any? %>
  <div class="error_explanation">
    <h4>
      <%= pluralize(object.errors.count, "error") %> occurred:
    </h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
