<% if logged_in? %>
  <p>link for home (user's home)</p>
  <p>link for "My Licks"</p>
  <p>Link for "My Tunes"</p>
  <p>Link for Sign Out</p>
<% else %>
  <p>link for home</p>
  <p>link for sign in</p>
  <p>link for sign up</p>
<% end %>
